.DS_Store
.gh-pages/
bin/
nimcache/
nimblecache/
htmldocs/
pkginfo.json
.cache
docs/
example/
nimble.develop
nimble.paths
nimbledeps
tests/tests
tests/*.o
tests/*.d
tests/data
tests/test_*
!tests/*.nim
